.links a {
    color: #fff;
}
.first-icons {
    width: 100px;
    height: 100px;
}
.client_section{
    background: #d1e3ff;
}
.change-color {
    background: #fff;
}
.about-section{
    height: 400px;
    margin-bottom: 70px;
}
.resize h1{
    font-size: 100px;
}
.align{
    margin-left: 330px;
    text-align: center;
}
.route a{
    border: none !important;
    color: #000 !important;
    background: transparent !important;
    padding: 5px 5px !important;
}
.about_img-size img{
    height: 420px;
    width: 350px;
}
.form input {
    color: #000;
}
.social{
    list-style: none;
    display: flex;
    color: #fff;
    font-size: 25px;
}
.social li{
    margin: 0 10px;
}
.social li a i:hover{
    color: #fd7e14;
}
.big_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 15px;
    margin: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.member_info strong, h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover-style:hover img{
    transform: scale(1.1); 
}
.hover-style img {
    transition: transform 1s ease;
}
.gradient{
    background: #D1E3FF;
}
.service_bg{
    display: flex;
    justify-content: center;
    background-image: url(../images/atelier.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.detail-box{
    margin-top: 180px;
}