.links a {
    color: #fff;
}
.first-icons {
    width: 100px;
    height: 100px;
}
.client_section{
    background: #d1e3ff;
}
.change-color {
    background: #fff;
}
.about-section{
    height: 500px;
    margin-bottom: 70px;
}